* {
  font-family: Arial, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffffff;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a[href] {
  text-decoration: none;
}
.logo img {
  width: 60px;
  height: 60px;
}

#carousel {
  position: relative;
}

img + .overlay {
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: left;
}
.overlay > h2 {
  margin: 0;
  font-size: 50px;
  color: #ffffff;
}
.overlay span {
  color: #f0b861;
}
#carousel img {
  transform: scale(0.9);
}

.search {
  position: relative;
  display: inline-block;
}

.search input[type="text"] {
  width: 800px; /* регулюйте ширину поля пошуку за потребою */
  height: 24px;
  padding: 8px 32px; /* внутрішні відступи для зручності */
  border: none; /* межа чорного кольору */
  border-radius: 6px; /* закруглені кути */
  outline: none; /* приховати рамку фокусу */
  background-color: #fff5f4;
}

.search input[type="text"]::placeholder {
  color: rgba(9, 9, 55, 0.4); /* колір тексту заповнювача */
  font-size: 16px;
}

.search input[type="text"]:focus {
  background-color: #fff5ee;
}

.search i {
  color: rgba(9, 9, 55, 0.4);
  position: absolute;
  left: 10px; /* Adjust the position of the icon */
  top: 50%;
  transform: translateY(-50%);
}
.buttons {
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
section {
  flex: 1;
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  border-radius: 15px 50px;
}
.books_title {
  display: flex;
  justify-content: space-between;
}
.books_title a {
  font-size: 20px;
  font-weight: normal;
  color: #563f11;
}
.books_title a:hover {
  color: #a37822;
}

.books_block {
  display: flex;
  justify-content: space-between;
}

.book_info {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  background-color: #fff5f4;
  width: 273px;
  padding: 10px;
  font-size: 18px;
  color: #251a04;
  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
.author_span {
  font-size: 15px;
  padding-top: 10px;
  color: #4b3e11;
  opacity: 0.6;
}
.price_span {
  font-size: 22px;
  color: #8d5522;
}
.book_photo img {
  width: 140px;
  height: 220px;
  padding-right: 10px;
}

.book_details {
  /*flex: 1;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.book_name,
.book_price {
}

.buttons button {
  display: inline-block;
  padding: 11px 11px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #fff5f4;
  border: none;
}
.buttons button:hover {
  background-color: #f0b861;
}

.buttons button:active {
  background-color: #f0b861;
  box-shadow: 0 5px #979797;
  transform: translateY(4px);
}
.buttons button {
  margin-left: 10px;
}
